body {
    /* padding-bottom: 20px; */
    color: #5a5a5a;
    font-family: 'Tinos', serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    font-size: 1.4em;
}

.navbar-brand {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 1.4em;
}

.nav-reserve {
    padding-right: 30px;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.carousel {
  height: 900px;
  margin-bottom: 50px;
}

.carousel-item {
  /* height: 55em; */
  height: 900px;
  background-color: black;
}

.carousel-item .img-fluid {
  width: auto;
  height: auto;
}

.carousel-caption {
  text-align: left;
}

.carousel-item img{
  width: 100%;
  position: absolute;
  height: 1200px;
  min-width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;

}

.stylist {
  text-align: center;
  margin-bottom: 50px;
}

.team .col-4 {
    text-align: center;
    margin-bottom: 20px;
}

.team p {
    margin-left: 10px;
    margin-right: 10px;
}

.divider {
    margin: 40px 0;
}

.content {
    padding-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

.content .col-lg-7 {
    /* padding-left: 90px;
    padding-right: 90px; */
    padding-top: 90px;
    text-align: center;
}

.content .col-lg-5 {
    text-align: center;
}

@media (max-width: 660px) {
  .div-1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      order: 1;
  }

  .div-2 {
      order: 2;
  }

  .div-3 {
      order: 3;
  }

  .div-4 {
    order: 4;
  }

  .carousel-item {
    height: 320px;
  }

  .navbar-brand {
    padding-left: 5px;
  }

  .carousel-item h1 {
    font-size: 1.6em;
  }

  .carousel-item .btn {
    font-size: 0.6em;
  }

}



.img-fluid {
  max-width: 100%;
  height: auto;
}

.pull-right {
    font-size: 1.5em;
    font-weight: bold;
}




footer {
  background: #222;
  color: #aaa;
  padding-top: 10px;
}
  
footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer .container .col-lg-4 {
  padding: 0 100px;
}

footer h3 {
  color: #0894d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .three-column {
  overflow: hidden;
}

footer .three-column li{
  width: 33.3333%;
  float: left;
  padding: 5px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  /* margin-bottom: 5px; */
}

.instagram {
  font-size: 1.5em;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}